# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Trash folder which might appear on external disk
.Trashes

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg
*.egg-info/
dist/
build/
*.wheel

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
*.cover
*.py,cover
.hypothesis/

# Virtualenv
*.virtualenv

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject